In [23]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

# Charger le fichier CSV dans un DataFrame
df = pd.read_csv('reseau_en_arbre.csv')

In [51]:
# Séparation des données
df_infra_intacte = df[df['infra_type'] == 'infra_intacte']
df_a_remplacer = df[df['infra_type'] == 'a_remplacer']

df.head()

  id_batiment  nb_maisons infra_id     infra_type   longueur
0     E000001           4  P007111  infra_intacte  12.314461
1     E000001           4  P007983  infra_intacte  40.320929
2     E000001           4  P000308  infra_intacte  39.140799
3     E000001           4  P007819  infra_intacte  17.390464
4     E000002           1  P007111  infra_intacte  12.314461

In [25]:
# Affichage des deux Df
print("\nDataFrame pour infra_intacte :\n\n", df_infra_intacte)
print("\nDataFrame pour a_remplacer :\n\n", df_a_remplacer)

DataFrame pour infra_intacte :

      id_batiment  nb_maisons infra_id     infra_type   longueur
0        E000001           4  P007111  infra_intacte  12.314461
1        E000001           4  P007983  infra_intacte  40.320929
2        E000001           4  P000308  infra_intacte  39.140799
3        E000001           4  P007819  infra_intacte  17.390464
4        E000002           1  P007111  infra_intacte  12.314461
...          ...         ...      ...            ...        ...
6095     E000381           1  P000335  infra_intacte  27.889780
6096     E000381           1  P000211  infra_intacte   7.712183
6097     E000381           1  P000226  infra_intacte  49.112131
6098     E000381           1  P000023  infra_intacte  11.338971
6099     E000381           1  P000136  infra_intacte  12.326395

[5530 rows x 5 columns]

DataFrame pour a_remplacer :

      id_batiment  nb_maisons infra_id   infra_type   longueur
10       E000003           1  P007113  a_remplacer  12.193509
11       E000003           1  P007984  a_remplacer  30.057598
12       E000003           1  P007823  a_remplacer  12.290283
465      E000067           1  P006193  a_remplacer  12.186388
466      E000067           1  P002851  a_remplacer  10.803202
...          ...         ...      ...          ...        ...
6102     E000381           1  P008032  a_remplacer  10.520975
6103     E000381           1  P008035  a_remplacer  11.719759
6104     E000381           1  P004234  a_remplacer  13.484903
6105     E000381           1  P008036  a_remplacer   7.441760
6106     E000381           1  P007459  a_remplacer   9.865358

[577 rows x 5 columns]

In [54]:
"""
Sachant que:

Difficulté(infra) = longueur / nombre de maison qu’elle permet de raccorder)
Difficulté(batîment) = somme(difficultés des infras qui permettent de le raccorder )

"""

# Calculer la difficulté pour chaque infrastructure
def calculer_difficulte_infra(infra):
    return infra['longueur'] / infra['nb_maisons']

# Calculer la difficulté pour chaque bâtiment
def calculer_difficulte_batiment(row):
    infra_a_remplacer_batiment = df_a_remplacer[df_a_remplacer['id_batiment'] == row['id_batiment']]
    
    # Vérifier si la longueur est non nulle; parce qu'il me dit : RuntimeWarning: invalid value encountered in scalar divide" ce qui montre qu'il y a une division par zéro
    if len(infra_a_remplacer_batiment) > 0:
        difficulte_batiment = infra_a_remplacer_batiment['longueur'].sum() / len(infra_a_remplacer_batiment)
    else:
        difficulte_batiment = 0
    
    return difficulte_batiment

df['difficulte_batiment'] = df.apply(calculer_difficulte_batiment, axis=1)

# Classer les bâtiments en ordre croissant de difficulté
batiments_classes = df[df['infra_type'] == 'a_remplacer'].sort_values(by='difficulte_batiment', ascending=True)

# Afficher les résultats
print(batiments_classes[['id_batiment', 'difficulte_batiment']])

     id_batiment  difficulte_batiment
5784     E000370             6.469102
5790     E000370             6.469102
5789     E000370             6.469102
5788     E000370             6.469102
5787     E000370             6.469102
...          ...                  ...
11       E000003            18.180463
10       E000003            18.180463
1094     E000129            19.905193
1092     E000129            19.905193
1093     E000129            19.905193

[577 rows x 2 columns]